<div class="grid place-items-center h-screen">
  <div class="mx-8">
    <div class="flex justify-center mb-8">
      <img src={~p"/images/logo.png"} alt="MarketUp" class="w-64 bg-white p-4 rounded" />
    </div>
    <p class="text-white text-center font-bold text-4xl mb-21">
      Σας ευχαριστούμε για τη συμμετοχή σας!
    </p>
  </div>
</div>
